<footer class="my-20">
  <p class="text-center text-md text-slate-500 mt-1">
    Made by <a
      href="https://www.bytebase.com"
      target="_blank"
      rel="noopener"
      class="underline">
      Bytebase
    </a>
  </p>
</footer>
