---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "MySQL vs PostgreSQL"
  : "MySQL vs PostgreSQL - Compare database features, performance and others";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="MySQL vs PostgreSQL - Compare database features, performance and others."
      canonical={canonicalURL}
      twitter={{
        creator: "@Bytebase",
        site: "@bytebase",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `MySQL vs PostgreSQL - Compare database features, performance and others`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "MySQL vs PostgreSQ Homepage Screenshot",
        },
      }}
    />
    <script
      defer
      data-domain="mysql-vs-postgresql.com"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
